
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html{
	display: flex;
	justify-content: center;
	align-items: center;
}

html,
body {
	margin: 0;
	padding: 0;
}
body {
	min-height: 100vh;
	width: 100%;
	background-color: blue;
	background: rgba(14, 16, 20, 1);
	background: #242424;
	color: #acb2b8;
	color: #777;
	font-size: 14px;
	font-family: 'Motiva Sans', Helvetica, Arial, sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
h1 {
	font-weight: 100;
}
h1 em {
	font-style: normal;
	font-weight: bold;
	color: #777;
}

canvas {
	width: 1500px;
	height: 800px;
	position: relative;
	border: 4px dotted #000;
	background-color: white;
}



body {
	background-position:center;
	background-size: contain;
	background-repeat: no-repeat;
	
}

.loginMenu {
	background-color: #212121;
	background-image: url('../images/HUD/backgroundGreen.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	width: 100dvw;
	height: 100dvh;
}
.login {
	flex-direction: column;
	color: white;
	width: 100%;
	background-color: rgba(14, 16, 20, 0.4);
	text-align: center;
	padding: 5vh 5vh;
}

.launchButton{
	display: none;
}

.mainMenu {
	font-size: large;
	background-color: rgba(14, 16, 20, 0.4);
	width: 100%;
	height: 30dvh;

}

.boutons {
	display: flex;
	justify-content: center;
	background-color: rgba(14, 16, 20, 0.4);
	padding-bottom: 1vw;
	color: #fff; 
}

.retour {
	align-self: flex-end;
	padding-right: 3dvw;
}

a {
	color: #d73939;
	text-decoration: none;
	text-align: center;
	
}

a:hover {
	color: #e97a7a;
}

.boutons ul {
	padding: 0;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	align-items: center;
}
.title{
	display: flex;
	color: #fff;
	height: 4dvb;
	justify-content: center;
	background-color: rgba(14, 16, 20, 0.4);
}

.mainMenu > div > p {
	padding: 0px 50px;
	display: flex;
	flex-direction: column;
}

.menu {
	display: none;
}

strong{
    color: red;
	margin-left: 10px;
   }

   .container{
    width: 100%;
    display: flex;
    justify-content: center;
   }

   .card-container{
   background-color: rgba(14, 16, 20, 0.6);
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 90vh;
	
   }

  
   
   .card{
      background-color: rgba(14, 16, 20, 0.6);
    width: 100%;
    display: flex;
    height: 95%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border : 1px solid black;
    color: white;
   }
   
   .percentage{
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    height: 15%;
    width: 40%;
    font-size: 30px;
    background-color: rgba(14, 16, 20, 0.6);
    border-radius: 8px 8px 0px 0px;
   }
   
   .upperinfo{
    display: flex;
    height: 30%;
    width: 100%;
   }
   
   .gameimagebox{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
    width: 100%;
   }
   
   .gameimage{
    width: 90%;
    height: 90%;
   }
   
   .info{
    margin-top: 10%;
    margin-left:10% ;
    height: 100%;
    width: 65%;
   }
   
   
   
   .pp{
    height: 100%;
    width: 35%;
    margin-top: 10px;
    margin-right: 10px;
   }
   
   .imgpp{
    width: 90%;
    height: 90%;
    
    box-shadow: 0px 0px 10px 0px black;
   }
   
   .cardboxes{
    align-items: center;
    width: 30%;
    height: 55%;
   
    display: flex;
    flex-direction: column;
   }
   
   .blaze{
    display: flex;
   
   }

   .nom{
    margin-left: 10%;
   }
   
   
   .cardboxes:hover{
    transition: all 0.7s ease-in-out;
    scale: 1.1;
   }
   
   .credits{
    height: 5vh;
    color: white;
    background-color: rgba(14, 16, 20, 0.6);
    border-radius: 8px;
    padding: 0 1dvw;
   }

   .credit{
	width: 80%;
   }

   .morecredit{
	width: 100%;
   }

   .contributeur{
	width: 30%;
	display: flex;
	justify-content: space-around;
	height: 5vh;
    margin-top :5vh;
    background-color: rgba(14, 16, 20, 0.6);
   }

   .contributeurs{
	width: 80%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
   }

   .contributeurs-container{
      background-color: rgba(14, 16, 20, 0.6);
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
      height: 200vh;
	
   }


   .contributor-card{
    background-color: #2b2c3d;
    width: 25%;
	margin-left: 10% ;
	margin-right: 5%;
    display: flex;
    height: 20vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border : 1px solid black;
    color: white;
   }

   .contributor-box{
	width: 100%;
	height : 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
   background-color: rgba(14, 16, 20, 0.6);
   padding: 2dvw 2dvh;
   }

   .info-contributor{
	display: flex;
	height: 40%;
	width: 70%;
   }

   .contributor-note{
	display: flex;
	justify-content: center;
	align-items: end;
	height: 40%;
	width: 30%;
   }

   .contribution{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 60%;
	width: 100%;
   font-size:30px ;
   text-decoration: underline;
   }

   a{
	color: #d73939;
	text-decoration: none;
	text-align: center;
   }

   .retourcontri{
      position: absolute;
      top: 55vh;
      left: 108vh;

   }

   .rejouerMenu{
      position: absolute;
      top: 25vh;
      width: 100%;
      height: 40%;
      background-color: rgba(14, 16, 20, 0.6);
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
   }

   .txt{
      color: white;
   }

   .score{
      color: white;
      font-size: 30px;
   }

   .infopartie{
      display : flex;
      justify-content: space-around;
      width: 100%;

   }

 