
* {
	box-sizing: border-box;
}
html,
body {
	margin: 0;
	padding: 0;
}
body {
	min-height: 100vh;
	max-height: 100vh;
	background: rgba(14, 16, 20, 1);
	background: #d6d6d6;
	color: #acb2b8;
	color: #777;
	font-size: 14px;
	font-family: 'Motiva Sans', Helvetica, Arial, sans-serif;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
h1 {
	font-weight: 100;
}
h1 em {
	font-style: normal;
	font-weight: bold;
	color: #777;
}

canvas {
	width: 1500px;
	height: 800px;
	position: relative;
	border: 4px dotted #000;
	background-color: white;
}



body {
	background-position:center;
	background-size: contain;
	background-repeat: no-repeat;
}

.menu {
	background-color: #212121;
	background-image: url('../images/HUD/backgroundGreen.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	width: 100dvw;
	height: 100dvh;
}
.login {
	flex-direction: column;
	color: white;
	width: 100%;
	background-color: rgba(14, 16, 20, 0.4);
	text-align: center;
	padding: 5vh 5vh;
}

.launchButton {
	display: none;
}

.mainMenu {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: black;
}

.mainMenu > div {
	display: flex;
	width: 80%;
	justify-content: center;
	inline-size: 100%;
	background-color: red;
	padding-bottom: 1vw;
}

.mainMenu > div > p {
	padding: 0px 50px;
}
.mainMenu > div > h1 {
	display: flex;
	justify-content: center;
}


body > div {
	display: none;
}

.mainMenu {
	display: none;
}